beautifulsoup4==4.12.2
google-api-python-client==2.112.0
Flask==2.3.2
Pillow==11.2.1
pet-pet-gif==1.0.2
pyTelegramBotAPI==4.22.0
schedule==1.2.1
SQLAlchemy==1.4.48
psycopg2==2.9.9
PyMySQL==1.1.1
lxml==4.9.3
curl-cffi==0.7.1
pyjokes==0.8.3

