beautifulsoup4==4.12.2
fastapi==0.115.12
uvicorn==0.34.2
aiogram==3.20.0.post0
APScheduler==3.11.0
pydantic-settings==2.9.1
Pillow==11.2.1
pet-pet-gif==1.0.2
SQLAlchemy==2.0.41
asyncpg==0.30.0
aiosqlite==0.20.0
lxml==4.9.3
curl-cffi==0.11.4
pyjokes==0.8.3
Jinja2==3.1.6
python-multipart==0.0.20

