body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}

.a {
    display: flex;
    flex-direction: row;
}

.b {
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
}

canvas {
    margin: 50px 0 0 0;
    border-radius: 3%;
    border-style: solid;
    border-width: 5px;
    border-color: var(--tg-theme-secondary-bg-color);
}

button {
    background-color: #3b88c3;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 20%;
}