<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAINT</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style/paint.css">
</head>
<body>
<canvas id="canvas" width="350" height="350"></canvas>
<div class="a">
    <div class="b">
        <p>Цвет</p>
        <input type="color" id="color">
    </div>
    <div class="b">
        <p>Толщина</p>
        <select id="width">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="8">8</option>
            <option value="16">16</option>
            <option value="32">32</option>
            <option value="64">64</option>
        </select>
    </div>
    <div class="b">
        <button type="button" id="clear">
            <img class="but_img" src="/static/images/clear.png" width="50" height="50" alt="loading...">
        </button>
    </div>
    <div class="b">
        <button type="button" id="undo">
            <img class="but_img" src="/static/images/undo.png" width="50" height="50" alt="loading...">
        </button>
    </div>
</div>
</body>
<script src="/static/js/paint.js"></script>
</html>
